#main-page {
  background-color: lightblue;
}

.text {
  color: midnightblue;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#input {
  border: 3px solid black;
  color: orchid;
}

#button {
  border: 5px groove peachpuff;
  color: plum;
  background-color: white;
}
